<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1><%= @article.title %></h1>
			</div>
			<div class="panel-body">
				<div class="article-body">
					<p>
						<%= @article.body %>
					</p>
					<% if @article.image.exists? %>
						<p><%= image_tag @article.image.url %></p>
					<% end %>

						<p>
						<%= "Posted " + time_ago_in_words(@article.created_at) + " ago" %>
						</p>
						<div class="article-tags">
							Tags: <% @article.tags.each do |tag| %>
								<%= link_to tag.name, tag_path(tag), class:"label label-primary" %>
							<% end %>
						</div>
						<div class="article-actions">
							<%= link_to "Delete", article_path(@article), method: :delete ,
												  data: {confirm: "Are you sure?"} %> |
							<%= link_to "Edit", edit_article_path(@article) %>
						</div>
				
				</div>
				
					<ul class="article-comments">
						<h3>Comments (<%= @article.comments.count %>):</h3>
						<%= render partial: "articles/comment", collection: @article.comments %>  
					</ul>
					<%= render "comment_form" %>
				</div>
				
		</div>
	</div>
</div>