<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1><%= pluralize(@tag.articles.count, "Article") %> with tag: <%= @tag.name %></h1>
			</div>
			<div class="panel-body">
				<ul id="articles">
					<% @tag.articles.each do |article| %>
					
						<%= link_to article_path(article) do %>
							<li class="article-preview" id="article-<%= article.id %>">	
								<h4><%= article.title %></h4>
								<p><%= "posted #{time_ago_in_words(article.created_at)} ago" %></p>
							</li>
						<% end %>

					<%end%> 
				</ul>
			</div>	
		</div>
	</div>
</div>